<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />

    <title>Browse</title>
	<link rel="stylesheet" th:href="@{/css/general-settings-stylesheet.css}" />
    <link rel="stylesheet" th:href="@{/css/browse-bookmarks-stylesheet.css}" />
    <link rel="stylesheet" th:href="@{/css/browse-stylesheet.css}" />
  </head>

  <body>
    <div class="container">
      <header>
        <h1 class="site-logo">thrillio.io</h1>
        <nav class="nav">
          <a class="nav-link browse-link" th:href="@{/browse}"
            >Browse</a
          >
          <a
            class="nav-link bookmarks-link"
            href="@{/bookmarks}
          "
            >Bookmarks</a
          >
        </nav>
        <div class="profile-box">
          <img
            class="user-img"
            th:src="@{/img/user.svg}"
            alt="unknown-user-icon"
          />
          <span class="username">username</span>
          <div class="profile-box-body">
            <button class="config-button reset-button">
              <img
                class="icon"
                th:src="@{/img/gear.png}"
                alt="dddd"
              />
              Configuration
            </button>
            <button class="logout-button reset-button">
              <img
                class="icon"
                th:src="@{/img/logout.png}"
                alt=""
              />Log out
            </button>
          </div>
        </div>
      </header>
      <main>
        <h2>Browse</h2>
        			<div class="filter-buttons-wrapper">
				<button class="all-filter filter-button current-filter reset-button">
					All
				</button>
				<button class="movies-filter filter-button reset-button">
					Movies
				</button>
				<button class="books-filter filter-button reset-button">Books</button>
				<button class="weblinks-filter filter-button reset-button">
					Weblinks
				</button>
			</div>

        <div class="flex-column bookmark-type-container">
          <div class="movies-container bookmark-type">
            <h3>Movies</h3>
            <div class="bookmarks-container">
              
          </div>
          </div>
          <div class="books-container bookmark-type">
            <h3>Books</h3>
            <div class="bookmarks-container">

          </div>
          <nav class="pagination">
            <div class="page current-page">1</div>
            <div class="page">2</div>
            <div class="page">3</div>
          </nav>
          </div>

          <div class="weblinks-container bookmark-type">
            <h3>Weblinks</h3>
            <div class="bookmarks-container">
              
            </div>
            <nav class="pagination">
              <div class="page current-page">1</div>
              <div class="page">2</div>
              <div class="page">3</div>
            </nav>
              
          </div>
         </div>
         
        </div>
      </main>
    </div>
<script th:src="@{/js/browse.js}" type="module"></script>
<script th:src="@{/js/browse-bookmarks.js}"></script>
	
</body>


  </html>
