<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      href="../../../resources/static/css/general-settings-stylesheet.css"
    />
    <link
      rel="stylesheet"
      href="../../../resources/static/css/register-login-stylesheet.css"
    />
    <link
      rel="stylesheet"
      href="../../../resources/static/css/form-style.css"
    />

    <link
      rel="stylesheet"
      href="../../../resources/static/css/register-stylesheet.css"
    />
    <link th:href="@{/css/sign-up-page.css}" rel="stylesheet" />
    <link th:href="@{/css/general-settings.css}" rel="stylesheet" />
    <link th:href="@{/css/sign-in-up.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="site-logo">thrillio.io</h1>
      </header>
      <main>
        <form
          class="sign-up-form"
          th:action="@{/auth/perform_registration}"
          th:object="${user}"
        >
          <h2 class="form-title">Create your account</h2>
          <p class="form-p">Join us and bookmark your favorites!</p>
          <div class="fields-wrapper">
            <div class="username-wrapper">
              <div class="label-input-wrapper flex-column">
                <label for="first-name">First Name</label>
                <input
                  id="first-name"
                  type="text"
                  placeholder="Jhon"
                  th:field="*{firstName}"
                />
              </div>
              <div class="label-input-wrapper flex-column">
                <label for="last-name">Last Name</label>
                <input
                  id="last-name"
                  type="text"
                  placeholder="Doe"
                  th:field="*{lastName}"
                />
              </div>
            </div>
            <div class="label-input-wrapper flex-column">
              <label for="email">Email</label>
              <input
                id="email"
                type="text"
                placeholder="jhon.doe@example.com"
                th:field="*{email}"
              />
            </div>
            <div class="label-input-wrapper flex-column">
              <label for="age">Age</label>
              <input
                id="age"
                type="number"
                placeholder="18"
                min="0"
                th:field="*{age}"
              />
            </div>
            <div class="label-input-wrapper flex-column">
              <label for="password">Password</label>
              <input
                id="password"
                placeholder="my@SuP3r.S3curePassW0rd"
                type="password"
                th:field="*{password}"
              />
            </div>
            <input type="submit" class="submit-button" value="Join Now" />
          </div>
          <div class="oauth-wrapper flex-column">
            <span class="enter-span">Or enter with</span>
            <ul class="enter-options">
              <li class="option">
                <img
                  class="logo"
                  th:src="@{/img/google-logo.png}"
                  alt="google-browser-logo"
                />
                <span class="text">Google</span>
              </li>
            </ul>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
