.enter-span {
  text-align: center;
}

.enter-options {
  list-style: none;
}

.enter-options .option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.enter-options .option .logo {
  width: 2.5rem;
  height: auto;
  margin-bottom: 0.6rem;
}

.enter-options .option .text {
  font-size: 1.2rem;
  border-bottom: 1px solid transparent;
  transform: all 400ms;
}

.option:hover .text {
  border-bottom: 1px solid #18181b;
}

.enter-span {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 1.6rem;
}
